@page
@model ITE.WebClient.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.RazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.NomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CpfCnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CpfCnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DataSituacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DataSituacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.SituacaoJuridica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.SituacaoJuridica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Abertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Abertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.NaturezaJuridica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.NaturezaJuridica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UltimaAtualizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.UltimaAtualizacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.StatusCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.StatusCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Efr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Efr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.MotivoSituacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.MotivoSituacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.SituacaoEspecial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.SituacaoEspecial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DataSituacaoEspecial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DataSituacaoEspecial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CapitalSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CapitalSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.NomeEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.NomeEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.NumeroEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.NumeroEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Cep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Uf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Uf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.TipoEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.TipoEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.TipoCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.TipoCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.RG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.RG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.TelefoneComercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.TelefoneComercial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DtRegtroJuntaCom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DtRegtroJuntaCom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DtCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DtCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.InscricaoEstadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.InscricaoEstadual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.InscricaoMunicipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.InscricaoMunicipal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.IdCliFor">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
